<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCevgtohMfKb9HqlKgFnopl5bdz-7KwEmI</string>
	<key>GCM_SENDER_ID</key>
	<string>1812060836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.project.flutterArduino</string>
	<key>PROJECT_ID</key>
	<string>flutter-arduino-53e9b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-arduino-53e9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1812060836:ios:874190433dd07505666431</string>
</dict>
</plist>